.my_tooltip {
    font-size: 1rem;
    width: 30rem;
    line-height: 2rem;
    border-radius: 1rem;
}

.pointer {
    cursor: pointer;
}

.dialogMessage {
    text-align: left;
    line-height: 1.5rem;
}

.el-select-dropdown__item.selected {
    color: #319E55;
}

.el-checkbox__input.is-disabled .el-checkbox__inner, .el-checkbox__input.is-disabled .el-checkbox__inner::after {
    cursor: default;
}

.el-checkbox__input.is-disabled + span.el-checkbox__label {
    cursor: default;
    color: #C0C4CC;
}

.el-checkbox__label {
    display: inline-grid;
    white-space: pre-line;
    font-size: 1.2rem;
}

.el-checkbox__input.is-checked + .el-checkbox__label {
    display: inline-grid;
    white-space: pre-line;
    color: #606266;
    font-size: 1.2rem;
}

.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #3EA650;
    border-color: #3EA650;
}

.el-checkbox__input.is-focus .el-checkbox__inner {
    border-color: #3EA650;
}

.el-checkbox__inner {
    border: 1px solid #3EA650;
    width: 20px;
    height: 20px;
}

.el-checkbox__inner:hover {
    border: 1px solid #3EA650;
}

.el-checkbox__inner:focus {
    border: 1px solid #3EA650;
}

.el-checkbox__inner:after {
    height: 10px;
    left: 7px;
    top: 2px
}

.loading_class .el-loading-spinner i {
    color: #319E55;
}

.el-loading-spinner .el-loading-text {
    color: #319E55;
}

.el-dialog {
    border-radius: 1rem;
}

.el-button:active {
    color: #319E55;
    border-color: #319E55;
}

.el-button:focus, .el-button:hover {
    color: #319E55;
}

.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover {
    color: #319E55;
}

.el-input.is-disabled .el-input__inner {
    cursor: default;
}

.step_button {
    font-family: Roboto-Regular, sans-serif;
    width: 12rem;
    height: 3rem;
    border-radius: 1.5rem;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    background: linear-gradient(to right, #97DB30, #319E55);
    margin: 1.2rem 0;
}

.step_button:focus {
    outline: none;
}

.cancelBt {
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;
    border: 1px solid black;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    background-color: white;
    margin-right: 1rem;
}

.cancelBt:focus {
    outline: none;
}

.el-input__inner {
    background-color: #F3F3F3;
    border-radius: 1.25rem;
    border: 1px solid #F3F3F3;
    font-size: 1rem;
}

.el-input__inner:focus {
    border-color: #319E55
}

.el-select .el-input.is-focus .el-input__inner {
    border-color: #319E55;
}

.el-select .el-input__inner:focus {
    border-color: #319E55;
}

.el-table .mark-row {
    color: #319E55;
}

.tableClass {
    border: 1px solid black;
    border-radius: 1.5rem;
}

.el-table__body, .el-table__footer, .el-table__header {
    padding: 0;
    width: auto;
}

.el-table__body-wrapper {
    margin: 0 1rem;
}

.el-table__body tr:not(:last-of-type) td {
    border-bottom: 1px dashed lightgrey;
}

.el-table::before {
    height: 0;
}


.el-table__body-wrapper, .el-table__footer-wrapper, .el-table__header-wrapper {
    padding: 0;
    width: auto;
}

.el-table__footer-wrapper, .el-table__header-wrapper {
    border-bottom: 1px solid black;
    border-radius: 1.5rem;
    padding: 0 1rem;
}

.el-tabs__active-bar {
    background-color: #319E55;
}

.el-tabs__item.is-active {
    color: #319E55;
}

.el-tabs__item:hover {
    color: #319E55;
}

.el-tabs__item {
    font-size: 1rem;
}

.el-table th > .cell {
    word-break: keep-all;
}

.margin-top-1rem {
    margin-top: 1rem;
}